<nav class="bg-blue-800 p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <a [routerLink]="['/']" class="text-white text-2xl font-bold hover:text-gray-300 transition duration-300">Vendor Bidding App</a>
    <div class="hidden md:flex space-x-4">
      <ng-container *ngIf="!authService.isLoggedIn(); else loggedIn">
        <a [routerLink]="['/login']" class="text-white hover:text-gray-300 transition duration-300">Login</a>
        <a [routerLink]="['/register']" class="text-white hover:text-gray-300 transition duration-300">Register</a>
      </ng-container>
      <ng-template #loggedIn>
        <a [routerLink]="['/projects']" class="text-white hover:text-gray-300 transition duration-300">Projects</a>
        <a [routerLink]="['/bids']" class="text-white hover:text-gray-300 transition duration-300">My Bids</a>
        <button (click)="logout()" class="text-white hover:text-gray-300 transition duration-300">Logout</button>
      </ng-template>
    </div>
    <button (click)="toggleMenu()" class="md:hidden text-white focus:outline-none">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>

  <!-- Mobile menu -->
  <div [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}" class="md:hidden bg-blue-800 p-4">
    <ng-container *ngIf="!authService.isLoggedIn(); else loggedInMobile">
      <a [routerLink]="['/login']" class="block text-white hover:text-gray-300 py-2">Login</a>
      <a [routerLink]="['/register']" class="block text-white hover:text-gray-300 py-2">Register</a>
    </ng-container>
    <ng-template #loggedInMobile>
      <a [routerLink]="['/projects']" class="block text-white hover:text-gray-300 py-2">Projects</a>
      <a [routerLink]="['/bids']" class="block text-white hover:text-gray-300 py-2">My Bids</a>
      <button (click)="logout()" class="block text-white hover:text-gray-300 py-2">Logout</button>
    </ng-template>
  </div>
</nav>

<div class="container mx-auto mt-4 px-10">
  <router-outlet></router-outlet>
</div>
